doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/admin/css/style.css")
  body 
    include ../partials/header.pug
    .content
      .row  
        .col-2
          .sider
            a(href="/admin/dashboard") Tổng quan
            a(href="/admin/products") Sản phẩm
            a(href="/") Client
        .col-10
          .main 
            block main
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js") 
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js") 
    script(src="/js/script.js") 