.header {
  color: white;
  background-color: black;
  font-weight: bold;
  padding: 16px 0 16px 0;
  font-size: 1.8rem;
  text-align: center;
}

.sider {
  background-color: rgb(43, 41, 41);
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-top: 16px;
  height: 100%;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}

td img {
  width: 10rem;
}