.header {
  color: white;
  background-color: black;
  font-weight: bold;
  padding: 16px 0 16px 0;
  font-size: 1.8rem;
  text-align: center;
}

.sider {
  background-color: rgb(43, 41, 41);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-top: 16px;
}