extends ../../layouts/default.pug
block main 
  h2 Thêm mới danh mục sản phẩm
  form#form-create-products(action=`/admin/products-category/create`, method="POST", enctype="multipart/form-data")
    .form-group
      label(for="title") Tiêu đề
      input#title.form-control(type="text", name="title", required)
    
    .form-group
      label(for="title") Danh mục cha
      select(name="parent_id" id="parent_id" class="form-control")
        option(value="") -- Chọn danh mục cha --
        if category
          each item in category
            option(value=item.id)= item.title
    .form-group
      label(for="desc") Mô tả
      textarea#desc.form-control(name="description", rows="5")

    .form-group.image-form
      label(for="thumbnail") Ảnh
      input#thumbnail.form-control-file(type="file", name="thumbnail", accept='image/*')
      img.preview-image(src="", alt="", srcset="")
      .cancel X

    .form-group.form-check.form-check-inline
      input#statusActive.form-check-input(type="radio", name="status", value="active", checked)
      label.form-check-label(for="statusActive") Hoạt động

    .form-group.form-check.form-check-inline
      input#statusInactive.form-check-input(type="radio", name="status", value="inactive")
      label.form-check-label(for="statusInactive") Dừng hoạt động

    .form-group
      button.btn.btn-primary(type="submit") Tạo mới
  
